In [31]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [32]:
print(data_science_jobs)

[{'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'}, {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'}, {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'}, {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'}, {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'}, {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}]

In [36]:
from datetime import datetime
import ast
#test_date = data_science_jobs[0]['job_date']
#print(test_date)
#print(datetime.strptime(test_date, '%Y-%m-%d'))

for job in data_science_jobs:
  test_date = job['job_date']
  test_skill = job['job_skills']
  job['job_date'] = datetime.strptime(test_date, '%Y-%m-%d')
  job['job_skills'] = ast.literal_eval(test_skill)
print(data_science_jobs)

[{'job_title': 'Data Scientist', 'job_skills': ['Python', 'SQL', 'Machine Learning'], 'job_date': datetime.datetime(2023, 5, 12, 0, 0)}, {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Deep Learning'], 'job_date': datetime.datetime(2023, 5, 15, 0, 0)}, {'job_title': 'Data Analyst', 'job_skills': ['SQL', 'R', 'Tableau'], 'job_date': datetime.datetime(2023, 5, 10, 0, 0)}, {'job_title': 'Business Intelligence Developer', 'job_skills': ['SQL', 'PowerBI', 'Data Warehousing'], 'job_date': datetime.datetime(2023, 5, 8, 0, 0)}, {'job_title': 'Data Engineer', 'job_skills': ['Python', 'Spark', 'Hadoop'], 'job_date': datetime.datetime(2023, 5, 18, 0, 0)}, {'job_title': 'AI Specialist', 'job_skills': ['Python', 'PyTorch', 'AI Ethics'], 'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

### Class

In [52]:
class LukesList:
  def __init__(self):
    """Initiliaze an empty list """
    self.items = []


  def add_item(self, item):
    """Add items to a list """
    return self.items.append(item)

  def remove_item(self,item):
    """Removes items from a list """
    return self.items.pop(item)

  def get_item(self, index):
    """ Returns the items of a given list """
    return self.items[index]

  def length(self):
    """Returns the length of a list"""
    return len(self.items)

In [51]:
my_list = LukesList()
my_list.add_item(1)
my_list.add_item(2)
my_list.add_item(3)
print(my_list.items)
print(my_list.get_item(1))
#print(my_list.length())
print(my_list.span)

[1, 2, 3]
2
0

In [57]:
number = 200000
print(f"The number is number:{number: ,.2f}")

The number is number: 200,000.00