In [5]:
name = "Daniel"
school_class = "Grade 3"
name = "John Doe"
print(f"my name is {name} and I am in {school_class}")
print("my name is {} and I am in {}".format(name, school_class))

my name is John Doe and I am in Grade 3
my name is John Doe and I am in Grade 3

In [6]:
fruits = ["Apples", "Bananas", "Oranges"]
"-".join(fruits)

'Apples-Bananas-Oranges'

In [17]:
for fruit in fruits:
  if fruit == "Bananas":
    continue
  print(fruit)

Apples
Oranges

In [19]:
for fruit in fruits:
  if "a" in fruit:
    print(fruit)

Bananas
Oranges

In [8]:
name = "John-Doe"
name.split("-")

['John', 'Doe']

In [27]:
class_info = {"James": 30, "Henry": 25, "Sarah": 35 }
print(class_info["James"])
print(class_info.keys())
print(class_info.values())
print(class_info.items())
#for key, value in class_info.items():
    #print(f"{key} is {value} years old")

for name, age in class_info.items():
  if(age <= int(30)):
    print(f"{name} is {age} years old")

30
dict_keys(['James', 'Henry', 'Sarah'])
dict_values([30, 25, 35])
dict_items([('James', 30), ('Henry', 25), ('Sarah', 35)])
James is 30 years old
Henry is 25 years old
James 30
Henry 25
Sarah 35