In [1]:
name = "Daniel"
school_class = "Grade 3"
name = "John Doe"
print(f"my name is {name} and I am in {school_class}")
print("my name is {} and I am in {}".format(name, school_class))

my name is John Doe and I am in Grade 3
my name is John Doe and I am in Grade 3

In [2]:
fruits = ["Apples", "Bananas", "Oranges"]
"-".join(fruits)

'Apples-Bananas-Oranges'

In [3]:
for fruit in fruits:
  if fruit == "Bananas":
    continue
  print(fruit)

Apples
Oranges

In [4]:
for fruit in fruits:
  if "a" in fruit:
    print(fruit)

Bananas
Oranges

In [5]:
name = "John-Doe"
name.split("-")

['John', 'Doe']

In [6]:
class_info = {"James": 30, "Henry": 25, "Sarah": 35 }
print(class_info["James"])
print(class_info.keys())
print(class_info.values())
print(class_info.items())
#for key, value in class_info.items():
    #print(f"{key} is {value} years old")

for name, age in class_info.items():
  if(age <= int(30)):
    print(f"{name} is {age} years old")

30
dict_keys(['James', 'Henry', 'Sarah'])
dict_values([30, 25, 35])
dict_items([('James', 30), ('Henry', 25), ('Sarah', 35)])
James is 30 years old
Henry is 25 years old

### EXERCISES

In [7]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [8]:
# Determine which jobs you're qualified for
qualified_roles = []

for job in job_roles:
  # Go through each skill in the skills key
  qualified = True

  for skill in my_skills:
       # Go through each skill in the skills key
    if skill not in job['skills']:
      qualified = False
      break
  if qualified:
    qualified_roles.append(job['role'])

qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [9]:
qualified_roles = []

for job in job_roles:
  qualified = all(skill in job['skills'] for skill in my_skills)
  if qualified:
    qualified_roles.append(job['role'])

qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

### List Comprehension Solution

In [10]:
qualified_roles = [job['role'] for job in job_roles if all(skill in job['skills'] for skill in my_skills)]
qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [11]:
[i for i in range(0,20,2) if i>10]

[12, 14, 16, 18]

### Functions

In [12]:
def add(a,b):
    return a+b
add(2,3)

5

In [13]:
def square(i):
  return i*i

def double(i):
  return i*2
number_list = [ i for i in range(10)]
number_list
square_number_list = [square(i) for i in number_list]
square_number_list

double_number_list= map(double, number_list)
print(list(double_number_list))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [14]:
# Arguments

print(fruits)

def food_menu(*args):
  for food in args:
    print(f"I ate {food} this morning")
food_menu(*fruits)

['Apples', 'Bananas', 'Oranges']
I ate Apples this morning
I ate Bananas this morning
I ate Oranges this morning

In [15]:
food_combo = {
    "rice": "beans",
    "beans": "plantains",
    "yam":"eggs"
}

def food_menu_new(**kwargs):
  for key, value in kwargs.items():
    print(f"I ate {key} and {value} this morning")

food_menu_new(**food_combo)

I ate rice and beans this morning
I ate beans and plantains this morning
I ate yam and eggs this morning

### LAMBDA FUNCTIONS

In [16]:
add = lambda x,y: x+y
add(2,3)

num_double = lambda x: x*2
num_double(5)

number_list
#double_number_list = [num_double(x) for x in number_list]
double_number_list = map(num_double, number_list)
print(list(double_number_list))
#print(list(double_number_list))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### MODULES

In [17]:
import money_utils
print(money_utils.split_bill(3000,5))
help(money_utils.split_bill)

ModuleNotFoundError: No module named 'money_utils'